html {
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
    color: darkslategray;
    background-color: pink;
}
img:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out 0s;
}
.head {
    font-size: 30px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}
.box {
    flex: 0 1 150px;
    margin: 20px;
}
.outcome {
    display: grid;
    place-items: center;
}